table,
td,
th {
    border: 1px solid #FFFAFB;
    border-collapse: collapse;
    margin-inline: 3px;
    padding: 15px;
    text-align: center;
    background-color: #131515;
}

#tbl {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
}

@media screen and (max-width: 725px) {
    #tbl {
        display: block;
    }
}

body {
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
    background-color: #131515;
    color: #FFFAFB;
    font-family: 'Work Sans', sans-serif;
    scroll-behavior: smooth;
    text-align: center;
    width: 100%;
}

/* -------------------------------------------------------------------- */

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
    background: rgb(31, 31, 31);
    border-bottom: 2px solid rgba(243, 233, 152, 1);
}

.btn2 {
    all: unset;
    height: fit-content;
    color: #000000;
    width: 110 px;
    padding: 15px;
    border-radius: 30px;
    background: linear-gradient(90deg, rgba(144, 95, 38, 1) 0%, rgba(243, 233, 152, 1) 50%, rgba(144, 95, 38, 1) 100%);
    font-weight: 800;
    font-size: large;
    border: 3px solid rgba(243, 233, 152, 0);
}

.btn2:hover {
    cursor: pointer;
    background: transparent;
    color: rgba(243, 233, 152, 1);
    border: 3px solid rgba(243, 233, 152, 1);
}

.btn2cmponents {
    display: flex;
}

.btn2cmponents svg {
    margin-left: 3px;
}

.logo svg {
    width: 250;
    height: 70px;
}

.btn2:hover .fill {
    fill: rgba(243, 233, 152, 1);
}

@media screen and (max-width: 450px) {
    .connectbtn {
        display: none;
    }

    #navbar {
        justify-content: center;
    }
}

/* ------------------------------------------------------------------------ */

h1 {
    margin: 5px;
}

h5 {
    margin-bottom: 5px;
    margin-top: 2px;
}

input {
    width: 80%;
    max-width: 400px;
    height: 30px;
    padding-inline: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.btnSimple,
select {
    all: unset;
    color: #000000;
    background-color: #7DE2D1;
    border: 2px solid #7DE2D1;
    margin: 5px;
    padding: 5px;
    width: 80px;
    text-align: center;
    transition: 0.5s;
    border-radius: 15px;
}

.btnSimple:hover,
select:hover {
    background-color: transparent;
    border: 2px solid #7DE2D1;
    color: #7DE2D1;
    cursor: pointer;
    transition: 0.5s;
}

option {
    background-color: #7DE2D1;
    color: #131515;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #7DE2D1;
}

::-webkit-scrollbar-thumb {
    background: #027864;
}

::-webkit-scrollbar-thumb:hover {
    background: #00ffd5;
}

.dispNone {
    display: none;
}

#copies button {
    width: 140px;
}

#copies {
    display: flex;
    justify-content: center;
}

pre {
    all: unset;
    background-color: #00ffd5;
    color: #131515;
    padding-inline: 10px;
}

h4 {
    margin: 10px;
}

.firstH4 {
    margin-bottom: 0;
}

/* .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
} */



@media screen and (max-width: 420px) {
    h4 {
        display: none;
    }
}

.dispHidden {
    visibility: hidden;
}